{% extends 'base.html' %}
{% block content %}

<h1 style="text-align:center">All Orders</h1>
{% for x in orders %}
<div style="margin:40px" class="alert alert-warning" role="alert">
    <p>{{x.username}}</p>
    <p>{{x.phoneno}}</p>
    <p>{{x.address}}</p>
    <p>{{x.ordereditems}}</p>
    <p>Order Status : {{x.status}}</p>
    <a href="acceptorder/{{x.id}}" class="btn btn-success">Accept</a>
    <a href="declineorder/{{x.id}}" class="btn btn-danger">Decline</a>
</div>
{% endfor %}


{% endblock content %}